body {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

label h3 {
    font-size: 1rem;
}