*::selection {
  color: black;
  background: none;
  overflow: hidden;
  box-sizing: content-box;
}

body {
  background-image: linear-gradient(to left, #1f3326 0%, #347b66 35%, #6fa99f 60%, #cff56e 100%);
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 1;
}

input {
  color: black;
}

input, button, input:focus, textarea, textarea:hover, textarea:focus {
  outline: none;
  border: none;
  border-radius: 7px;
  padding: .8rem .5rem;
  background-color: #eee;
  font-size: 1rem;
}

textarea {
  font-size: 1rem;
}

button {
  cursor: pointer;
  padding: .6rem;
  background-color: #00a6f4;
  font-size: .9rem;
  font-weight: 600;
}

button:hover {
  background-color: #028ac9;
}

a {
  color: #000;
  text-decoration: none;
  font-weight: 500;
  background-color: #00a6f4;
  padding: .6rem;
  border-radius: 7px;
}

a:hover {
  background-color: #028ac9;
}

a:active {
  background-color: orange;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

ul li {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  background-color: orange;
  border-radius: 10px;
  padding: .7rem;
}

ul li h3 {
  font-weight: 300;
  font-size: 1.3rem;
}

ul li h3 b {
  font-weight: 500;
}