div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 5rem auto;
    width: fit-content;
}

h3 {
  font-weight: 300;
  font-size: 1.3rem;
}

h3 b {
  font-weight: 500;
}