body {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}